main {
  max-width: 70rem;
  margin: var(--spacing-10) auto 0;
  padding: var(--spacing-4);
}

header {
  margin-bottom: var(--spacing-6);

  display: grid;
  grid-template-areas: 'heading search add';
  grid-template-columns: 1fr auto auto;
  gap: var(--spacing-4);
}

@media screen and (max-width: 30rem) {
  header {
    grid-template-areas: 'heading add' 'search  search';
    grid-template-columns: 1fr auto;
  }
}

@media screen and (max-width: 20rem) {
  header {
    grid-template-areas: 'heading' 'add' 'search';
    grid-template-columns: 1fr;
  }
}

header h1 {
  grid-area: heading;
}

header .form-item {
  grid-area: search;
}

header button {
  grid-area: add;
}

section.fallback {
  display: grid;
  gap: var(--spacing-2);
  margin-top: var(--spacing-9);
}
